<h1>New Post</h1>

<form action="/" method="POST">
	<div>
		<label for="title">Title:</label>
		<input type="text" name="title" placeholder="Enter a title">
	</div>

	<div>
		<label for="body">Body:</label>
		<textarea name="body" placeholder="The body of the post"></textarea>
	</div>

	<div>
		<input type="submit" value="Save Post">
	</div>
</form>