<!DOCTYPE html>
<html>
  <head>
    <title>BooksPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
    	<a href="/books">Books</a>
    	<a href="/books/new">New Book</a>
	</nav>
    <%= yield %>
  </body>
</html>
